.ImageList {
  list-style: none;
  overflow: hidden;

  &__Item {
    float: left;
    padding: 8px;
    transform: scale(1);
    transition: transform 150ms;
    box-sizing: border-box;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.ImageItem {
  &__Wrap {
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 8px rgba(#000, $alpha: 0.4);
    position: relative;
  }

  &__Score {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 8px 8px 8px 21px;
    border-radius: 8px;
    background: #fff;
    font: 14px sans-serif;
    box-shadow: 0 0 8px rgba(#000, $alpha: 0.4);

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 8px;
      top: 11px;
      width: 9px;
      height: 9px;
      background: url(//redditbooru.com/static/images/upvotes.png) no-repeat;
    }
  }

  &__Image {
    opacity: 0;
  }

  &__Title {
    font: bold 18px/1 sans-serif;
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
